@import "colors";

body {
  color: $foreground-secondary;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";

  font-size: 1rem;

  .title {
    color: $foreground-primary;
    font-size: 3rem;

    span.subtitle {
      margin-left: 0.5rem;
      font-size: 2rem;
      font-weight: 400;
    }
  }

  .caption {
    font-size: 1.5rem;
  }
}
