name: Node.js
on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch: {}

jobs:
  bump-deps:
    name: Bump Dependencies
    uses: trynoice/.github/.github/workflows/bump-npm-deps.yaml@main
    secrets:
      noice-bot-github-token: ${{ secrets.BOT_PAT }}
